.contenedorModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.modal {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.4rem;
  min-width: 40rem;
  max-width: 60rem;
}

.headerModal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerModal button {
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.4rem;
  color: #000;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.headerModal button:hover {
  background-color: red;
  color: #fff;
}

.contenido {
  margin-top: 2rem;
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding-top: 2rem;
}

.boton__guardar {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 0.4rem;
}

.boton__cancelar {
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.4rem;
  color: #000;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.boton__cancelar:hover {
  background-color: red;
  color: #fff;
}