.container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.4rem;
  padding: 1rem;
}

.container span {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  padding-top: 1rem;
  font-size: 1.6rem;
  border: none;
  color: var(--white-color);
  width: 100%;
}

.toggleButton {
  width: 5rem;
  height: 100%;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.toggleButton svg {
  stroke: var(--secondary-color);
}

.toggleButton:hover svg {
  stroke: var(--primary-color);
}
